/* Reset */

* {
  margin: 0;
  padding: 0;
}

/* Disable Font Scaling on Mobile Devices */

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    height: 100%;
}

/* Block Level Elements */

img, section, article, header, footer, nav {
  display: block;
}

p {
  margin-bottom: 20px;
}

q {
  font-style: italic;
}

/* Elements Visible for Accessibility & Semantics Only */

#root-nav h3, #site-section-heading, #all-projects-nav, #all-projects-nav h4 {
  display: none;
}

/* Body */

body {
  height: 100%;
  
  background-color: #E5E5E5;
  background-image: url(/images/light-grain.jpg);
  background-image: -webkit-image-set( url(/images/light-grain.jpg) 1x, url(/images/light-grain@2x.jpg) 2x );
   
  font-family: Lato, sans-serif;
  font-size: 0.750em;
  line-height: 1.667em;
  word-spacing: 0.2em;
  color: #737373;
}

/* @group Headings */

h2, h3, h4, h5, h6 {
  margin-bottom: 20px;
  font-weight: 400;
}

h2, h3 {
  margin-bottom: 40px;
}

h2, h3, h4, h5, h6 {
  line-height: 20px;  
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

body.project article > h4 {
  text-align: center;
  margin-bottom: 40px;
}

/* @end */

/* @group Links */

a:link {
  color: #E68300;
  text-decoration: underline;
}

a:hover, a:active {
  text-decoration: none;
}

a:visited {
  color: hsl(169, 23%, 50%);
}

/* @end */

/* @group Page Header */

body > header {
  position: relative;
  z-index: 10;
  width: 100%;
  
  background-color: #5A5A5A;
  background-image: url(/images/header-background.png);
  background-image: -webkit-image-set( url(/images/header-background.png) 1x, url(/images/header-background@2x.png) 2x );
  background-size: 100px 160px;
  background-position: top center;
  
  color: white;
}

body > header > div.wrapper {
  position: relative;
  width: 100%;
  max-width: 940px;
  height: 180px;
  
  margin-left: auto;
  margin-right: auto;
}

/* @end */

/* @group Footer */

body > footer {
  padding-left: 50%;
  margin-top: -200px;
  overflow: hidden;

  background-image: url(/images/dark-grain.jpg);
  background-image: -webkit-image-set( url(/images/dark-grain.jpg) 1x, url(/images/dark-grain@2x.jpg) 2x );
  background-size: 260px 100px;
  
  color: #D8D8D8;
}

body > footer section {
  float: left;
  width: 300px;
  margin-bottom: 20px;
  margin-right: 20px;
}

body > footer > div.wrapper {
  width: 320px;
  margin-left: -150px;
  margin-right: -20px;
  padding-top: 40px;
  padding-bottom: 20px;
  overflow: hidden;
}

body > footer span.medium {
  display: inline-block;
  width: 60px;
  font-weight: bolder;
}

/* @end */

/* @group Masthead */

/* Masthead Heading */

h1#masthead {
  position: absolute;
  left: 50%;
  top: 30px;
  margin-left: -140px;
  width: 280px;
  height: 80px;
  
  background-image: url(/images/masthead.png);
  background-image: -webkit-image-set( url(/images/masthead.png) 1x, url(/images/masthead@2x.png) 2x );
  background-position: left top;
  background-size: 280px 80px;
  background-repeat: no-repeat;
  
  text-indent: -1000%;
}

/* Masthead Link */

#masthead > a {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;  
}

/* @end */

/* @group Root Navigation */

#root-nav {
  position: absolute;
  bottom: 0px;
  left: 50%;
  margin-left: -9.375em;
  
  font-size: 1.333em;
  line-height: 40px;
  font-weight: 300;
  text-align: center;
}

/* List */

#root-nav ul {
  list-style-type: none;
  overflow: hidden;
}

/* List Items */

#root-nav ul li {
  position: relative;
  float: left;
  width: 6.26em;
  height: 2.5em;  
}

/* Active List Items */

#root-nav ul li.here {
  background-image: url(/images/topnav-lowlight-lower.png);
  background-image: -webkit-image-set( url(/images/topnav-lowlight-lower.png) 1x, url(/images/topnav-lowlight-lower@2x.png) 2x );
  background-size: 100% 40px;
  background-position: center bottom;
  background-repeat: no-repeat;
}

/* Links */

#root-nav ul a {
  text-decoration: none;
  color: #FF9100; /* Slightly brighter than normal links for darker background */
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;  
}

/* Hovered Links */

#root-nav ul a:hover {
  text-decoration: underline;
}

/* @end */

/* @group Adjacent Projects Navigation */

#adjacent-projects-nav {
  display: none;
}

/* @end */

/* @group Main Content */

div#content-wrapper {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  max-width: 640px;
  min-height: 100%;
  margin: 40px auto 60px auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 200px;
  overflow: hidden;
}

/* Folio */

body.folio div#content-wrapper {
  margin-top: 60px;
  max-width: 320px;
}

/* @end */

/* @group Home Page */

body.home div#content-wrapper {
  margin-top: 60px;
  margin-bottom: 80px;
}

body.home section#intro h5 {
  display: none;
}

body.home section#slideshow {
  display: block;
  
  width: 100%;
  max-width: 620px;
  height: auto;
  margin-bottom: 20px;
  
  overflow: hidden;
  
  background-color: silver;
}

body.home section#slideshow img {
  width: 100%;
  height: auto;
}

/* @end */

/* @group Portfolio Page */

a.folio-thumb:link, a.folio-thumb:visited {
  text-decoration: none;
  color: #595959;
}

a.folio-thumb {
  display: block;
  position: relative;
  overflow: hidden;
  float: left;
  text-align: right;
  margin-bottom: 40px;
  margin-right: 20px;
}

a.folio-thumb span {
  display: block;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.75);
  background-position: right bottom;
  
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding-right: 5px;
  
  width: 100%;
  bottom: 0;
  right: 0;
  
  -webkit-transition: padding-bottom 0.1s;
  -moz-transition: padding-bottom 0.1s;
}

a.folio-thumb:hover span {
  padding-bottom: 20px; 
}

div.folio-thumb-grid {
  margin-right: -20px;
  margin-bottom: -20px;
  overflow: hidden;
}

/* @end */

/* @group About Page */

section#cv img#portrait {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  max-width: 50%;
  height: auto;
}

section#cv h4 {
  margin-bottom: 40px;
}

section#services {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.05);
}

section#services ul {
  padding-left: 20px;
}

section#services li {
  border-bottom: 1px solid #E5E5E5;
  padding-bottom: 4px;
  padding-top: 5px;
}

section#services li:first-child {
  padding-top: 0;
}

section#services li:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

/* @end */

/* @group Contact Page */

body.contact div#content-wrapper {
  max-width: 320px;
}

body.contact article > section {
  margin-bottom: 20px;
}

/* @end */

/* @group Project Pages */

body.project article {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  max-width: 620px;

  text-align: left;
}

body.project article img {
  margin-bottom: 20px;
}

body.project article h1 {
  text-align: center;
  margin-bottom: 40px;
}

body.project article img {
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

body.project div.gallery a img {
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
}

body.project article div.gallery {
  margin-top: 40px;
}

body.project article footer {
  margin-top: 39px;
  padding: 20px;
  border-top: 1px solid silver;
  background-color: rgba(0, 0, 0, 0.05);
  font-style: italic;
  text-align: right;
}

/* @end */

