/* Reset */

* {
  margin: 0;
  padding: 0;
}

/* Block Level Elements */

img, section, article, header, footer, nav {
  display: block;
}

/* Visible for Accessibility Only */

#root-nav h3, #section-heading, #all-projects-nav, #all-projects-nav h4 {
  display: none;
}

/* Body */

body {
  /* Fonts */
  font-family: Lato, sans-serif;
  font-size: 0.750em;
  line-height: 1.666em;
  
  /* Colors */
  background-color: #E5E5E5;
  background-image: url(/images/light-grain.jpg);
  color: #737373;
}

/* Headings */

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 20px;
  font-weight: 300;
  color: #666666;
}

h1, h2, h3 {
  margin-bottom: 40px;
}

h2 {
  font-size: 16px;
  line-height: 20px;
}

/* Links */

a:link {
  color: #E68300;
}

/* Page Header */

body > header {
  width: 100%;
  background-color: #5A5A5A;
  background-image: url(/images/header-background.jpg);
  color: white;
}

body > header > div.wrapper {
  position: relative;
  width: 100%;
  max-width: 980px;
  height: 140px;
  margin-left: auto;
  margin-right: auto;
}

/* Masthead */

#masthead {
  width: 280px;
  height: 50px;
  position: absolute;
  left: 50%;
  top: 30px;
  margin-left: -150px;
  background: url(/images/masthead.png) left top no-repeat;
  text-indent: -1000%;
}

#masthead a {
  color: white;
}

/* Root Navigation */

#root-nav {
  position: absolute;
  right: 50%;
  margin-right: -155px;
  top: 80px;
  
  /* Fonts */
  font-size: 1.333em;
  line-height: 40px;
  font-weight: 300;
  text-align: center;
}

#root-nav a {
  color: #FF9100;
  text-decoration: none;
}

#root-nav ul {
  list-style-type: none;
  overflow: hidden;
}

#root-nav ul li {
  float: left;
  width: 100px;
  height: 40px;  
}

#root-nav ul li.here {
  background: url(/images/topnav-lowlight.png) left top no-repeat;
}

/* Next/Previous Projects Navigation */

#adjacent-projects-nav {
  display: none;
}

/* Main Content */

#content-wrapper {
  width: 100%;
  max-width: 1020px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
}

/* Article */

article {
  margin-top: 40px;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 620px;
  box-sizing: border-box;
  text-align: justify;
}

article img, article p {
  margin-bottom: 20px;
}

article h1 {
  text-align: center;
  margin-bottom: 40px;
}

article img {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* Viewports 660px or Larger */

@media only screen and (min-width:660px) {
  article div.gallery {
    margin-right: -20px;
    overflow: hidden;
  }
  
  article img {
    float: left;
    margin-left: 0;
    margin-right: 20px;
  }
  
  article h1 {
    text-align: left;
  }
  
}

/* Viewports 900px or Larger */

@media only screen and (min-width:900px) {
  #content-wrapper {
    width: 1020px;
    padding-left: 40px;
    padding-right: 40px;
  }
  
  article {
    margin-left: 0;
    margin-right: 0;
  }

  #all-projects-nav {
    display: block;
    margin-top: 50px;
    float: right;
    width: 240px;
    border-left: 1px solid #DCDCDC;
    line-height: 3.333em;
  }
  
  #all-projects-nav ul {
    list-style-type: none;
  }
  
  #all-projects-nav ul li {
    padding-left: 20px;
  }
  
  #all-projects-nav ul li.here {
    background: url(images/sidenav-lowlight.png) left center no-repeat;
  }
  
  #root-nav {
    right: 20px;
    margin-right: 0;
  }
  
  /* Masthead */
  
  #masthead {
    height: 70px;
    left: 10px;
    margin-left: 0;
  }
  
  #page-header-wrapper {
    max-width: 1020px;
    height: 120px;
  }
}