/* @override 
	http://localhost:4000/css/large.css */

/* Viewports 1020px or Wider */

/* Main Content */

div#content-wrapper, body.folio div#content-wrapper, body.home div#content-wrapper, body.contact div#content-wrapper {
  width: 960px;
  max-width: 960px;
}

/* Article */

body.project article {
  margin-left: 0;
  margin-right: 0;
}

/* Page Header */

body > header > div.wrapper {
  height: 160px;
  padding-left: 10px;
  padding-right: 10px;
  
}

/* @group Projects Navigation */

#all-projects-nav {
  display: block;
  margin-top: 60px;
  float: right;
  width: 240px;
  border-left: 1px solid #CDCCCC;
  line-height: 3.333em;
}

#all-projects-nav ul {
  list-style-type: none;
}

#all-projects-nav ul li {
  padding-left: 20px;
}

#all-projects-nav ul li.here {
  background: url(/images/sidenav-lowlight.png) left center no-repeat;
  background-image: -webkit-image-set( url(/images/sidenav-lowlight.png) 1x, url(/images/sidenav-lowlight@2x.png) 2x );
  background-size: 239px 100%;
}

#all-projects-nav.fixed {
  position: fixed;
  left: 50%;
  top: 0;
  margin-left: 229px;
}

/* @end */

/* @group Root Navigation */

#root-nav {
  top: 80px;
  right: 10px;
  margin-right: 0;
}

#root-nav ul li.here {
  background-image: url(/images/topnav-lowlight-upper.png);
  background-image: -webkit-image-set( url(/images/topnav-lowlight-upper.png) 1x, url(/images/topnav-lowlight-upper@2x.png) 2x );
}

/* @end */

/* Masthead */

hgroup#masthead {
  left: 0;
  margin-left: 0;
}

/* Page Header */

#page-header-wrapper {
  max-width: 1020px;
  height: 120px;
}

/* Article */

body.project article > h4 {
  text-align: left;
}

/* @group Home */

body.home section#slideshow {
  float: left;
}

body.home section#intro {
  width: 220px;
  float: right;
}

/* @end */

/* @group Contact Page */

body.contact article {
  margin-right: -20px;
}

body.contact article > section {
  margin-right: 20px;
  padding-left: 0;
  float: left;
  background-position: left 40px;  
}

body.contact article > section > h4 {
  margin-bottom: 220px;
}

/* @end */

/* @group About Page */

section#cv {
  width: 540px;
  margin-right: 100px;
  float: left;
}

section#services {
  width: 260px;
  float: left;
}

/* @end */

/* @group Footer */

body > footer > div.wrapper {
  width: 960px;
  margin-left: -470px;
}

/* @end */