* {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

body {
  font-family: Lato, sans-serif;
  font-size: 0.750em;
  line-height: 1.666em;
  background-color: #F2F2F2;
  background-image: url(images/light-grain.png);
  color: #919191;
}

#root-nav {
  position: absolute;
  right: 50%;
  margin-right: -155px;
  bottom: 0;
  font-size: 1.250em;
  line-height: 40px;
  text-align: center;
}

#root-nav a {
  color: #D4D4D4;
  font-weight: 300;
  text-decoration: none;
}

#root-nav h3, #section-heading, #all-projects-nav, #all-projects-nav h4 {
  display: none;
}

#root-nav ul li {
  display: inline-block;
  width: 99px;
  height: 40px;
  border-right: 1px solid rgba(255, 255, 255, 0.250);
  
}

#root-nav ul li:first-child {
  background: url(images/topnav-lowlight.png) left bottom no-repeat;
}

#root-nav ul li:first-child {
  border-left: 1px solid rgba(255, 255, 255, 0.250);
}

#adjacent-projects-nav {
  display: none;
}

#page-header {
  width: 100%;
  background-color: #4A4A4A;
  background-image: url(images/dark-grain.png);
  color: white;
}



#masthead a {
  color: white;
}

#content-wrapper {
  width: 100%;
  max-width: 1020px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
}

#page-header-wrapper {
  position: relative;
  width: 100%;
  max-width: 980px;
  height: 160px;
  margin-left: auto;
  margin-right: auto;
}

#masthead {
  width: 300px;
  height: 80px;
  position: absolute;
  left: 50%;
  top: 20px;
  margin-left: -150px;
  background: url('images/masthead.png') no-repeat left top;
  text-indent: -1000%;
}

article {
  margin-top: 40px;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 620px;
  box-sizing: border-box;
  text-align: justify;
}

article img, article p {
  margin-bottom: 20px;
}

article h1 {
  text-align: center;
  margin-bottom: 40px;
}

article img {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width:660px) {
  article {
    margin-top: 60px;
  }

  article div.gallery {
    margin-right: -20px;
    overflow: hidden;
  }
  
  article img {
    float: left;
    margin-left: 0;
    margin-right: 20px;
  }
  
  article h1 {
    text-align: left;
  }
  
}

@media only screen and (min-width:900px) {
  #content-wrapper {
    width: 1020px;
    padding-left: 40px;
    padding-right: 40px;
  }
  
  article {
    margin-left: 0;
    margin-right: 0;
  }

  #all-projects-nav {
    display: block;
    margin-top: 50px;
    float: right;
    width: 240px;
    border-left: 1px solid #DCDCDC;
    line-height: 3.333em;
  }
  
  #all-projects-nav ul {
    list-style-type: none;
  }
  
  #all-projects-nav ul li {
    padding-left: 20px;
  }
  
  #all-projects-nav ul li.here {
    background: url(images/sidenav-lowlight.png) left center no-repeat;
  }
  
  #root-nav {
    right: 40px;
    margin-right: 0;
  }
  
  #masthead {
    left: 20px;
    margin-left: 0;
  }
  
  #page-header-wrapper {
    max-width: 1020px;
    height: 120px;
  }
}