/* Viewports 660px or Wider */
    
/* Folio */

body.folio div#content-wrapper {
  width: 640px;
}

/* @group Project Article */

article div.gallery {
  margin-right: -20px;
  overflow: hidden;
}

article div.gallery img {
  float: left;
  margin-left: 0;
  margin-right: 20px;
}

article h1 {
  text-align: left;
}

/* @end */

/* @group Footer */

body > footer > div.wrapper {
  width: 620px;
}

/* @end */