/* @override 
	http://localhost:4000/css/medium.css */

/* Viewports 660px or Wider */
    
/* Folio */

body.folio div#content-wrapper, body.contact div#content-wrapper {
  max-width: 640px;
}

/* @group Project Article */

body.project article div.gallery {
  margin-right: -20px;
  overflow: hidden;
}

body.project article div.gallery img {
  float: left;
  margin-left: 0;
  margin-right: 20px;
}

body.project article h1 {
  text-align: left;
}

/* @end */

/* @group Contact Page */

body.contact article > section.email {
  background-image: url(/images/keyboard.jpg);
  background-image: -webkit-image-set( url(/images/keyboard.jpg) 1x, url(/images/keyboard@2x.jpg) 2x );
}

body.contact article > section.phone {
  background-image: url(/images/telegraph.jpg);
  background-image: -webkit-image-set( url(/images/telegraph.jpg) 1x, url(/images/telegraph@2x.jpg) 2x );
}

body.contact article > section.location {
  background-image: url(/images/map.jpg);
  background-image: -webkit-image-set( url(/images/map.jpg) 1x, url(/images/map@2x.jpg) 2x );
}

body.contact article > section {
  width: 300px;
  min-height: 180px;
  padding-left: 320px; 
  background-repeat: no-repeat;
  background-position: left top; 
}


/* @end */

/* @group Footer */

body > footer > div.wrapper {
  width: 640px;
  margin-left: -310px;
}

/* @end */