div#zoombox {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 15;
  background-color: rgba(0, 0, 0, 0.85);
  
  -webkit-transition: opacity 0.2s, visibility 0.2s;
  -moz-transition: opacity 0.2s, visibility 0.2s;
}

div#zoombox.open {
  opacity: 1;
  visibility: visible;
}

div#zoombox.closed {
  opacity: 0;
  visibility: hidden;
}

div#zoombox img.holder {
  display: block;
  max-width: 80%;
  max-height: 80%;
  position: absolute;
  z-index: 2;
  left: 50%;
  top: 50%;
  
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.35);  
  -moz-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.35);
}

div#zoombox img.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -16px;
  margin-top: -16px;
}