<footer>
  <div class="wrapper">
    <section id="contact">
      <h4><a href="/contact">Contact</a></h4>
      
      <p><span class="medium">Email: </span>{% include email-link.html %}</p>
      <p><span class="medium">Phone: </span>{% include phone-link.html %}</p>
      
      <!--p><a href="/contact">More Details…</a></p-->
    </section>
  
    <section id="about">
      <h4><a href="/about">About</a></h4>
      
      <p>Formed in 2010, Brice Design Consultants carry out the design and project management of commercial and residential interiors projects.</p>
      
      <!-- p><a href="/about">More Information…</a></p -->
    </section>
  </div>
</footer>