---
layout: default
parent-location: /folio/
body-class: project
---

<h3 id="site-section-heading">Portfolio</h3>

<!-- All Projects Navigation -->

{% include all-projects-nav.html %}

<!-- Article -->

<article>
  <h4>{{ page.title }}</h4>
  
  {{ content }}
</article>

<!-- Next/Previous Project Navigation -->

<nav id="adjacent-projects-nav">
  <h4>Other Projects</h4>
  
    {% if page.previous %}
      <div>
        <span>Older</span>
        <a href="{{ page.previous.url }}">{{ page.previous.title }}</a>
      </div>
    {% endif %}
    
    {% if page.next %}
      <div>
        <span>Newer</span>
        <a href="{{ page.next.url }}">{{ page.next.title }}</a>
      </div>
    {% endif %}
</nav>